.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .card {
    flex: 0 0 180px;
    margin: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0, 0, 0, 0.3);
  } 
  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 15px 15px;
    text-align: left;
  }
  .card .text > price {
    background: rgb(229, 255, 151);
    border: 0;
    color: rgb(104, 188, 101);
    padding: 8px;
    width: 100%;
    }